<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5aadddfd;">
    <a class=" navbar-brand " href="/#">Menu</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarNav " aria-controls="navbarNav " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav ">
        <ul class="navbar-nav ">
            <li class="nav-item active ">
                <a class="nav-link " href="/pilots">Pilots <span class="sr-only "></span></a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link " href="/teams">Teams <span class="sr-only "></span></a>
            </li>
        </ul>
    </div>
</nav>

<link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css " integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T " crossorigin="anonymous ">

<h1 style="text-align: center; margin-top: 1cm;"> Proyecto Neo4j </h1>
<br>
<img src="https://www.motor.es/fotos-noticias/2020/12/calendario-f1-2021-202072256-1608187705_3.jpg" class="center">
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<script>
    const {
        default: Neovis
    } = require("neovis.js");

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "neo4j",
            server_password: "SEAA",
            arrows: true,
            hierarchical: true,

            labels: {
                "Pilot": {
                    "caption": "name",
                    "size": "pagerank",
                    "community": "community",
                }
            },
            relationships: {
                "DRIVES_FOR": {
                    thickness: "weight",
                    caption: true,
                }
            },
            initial_cypher: "MATCH (n:Pilot)-[r:DRIVES_FOR]->(p:Team) RETURN n,p"
        };

        viz = new Neovis.default(config);
        viz.render();
        console.log(viz);

    }
</script>